@model IPagedList<ServiceWebsite.ViewModels.Admin.GalleryListViewModel>

<div class="products-list-tools clearfix">


        <a class="btn btn-default btn-sm"
           data-modal-form="true"
           data-modal-size="modal-lg"
           data-modal-prepend="tbody#galleryList"
           data-modal-title="Fotograf Ekle"
           data-hook-beforeunload="true"
           href="@Url.Action("Add", "GallerySetting", routeValues: new {Area ="Admin"})">
            <i class="fa fa-plus"></i> Fotoğraf Ekle
        </a>





    <div class="pull-right hidden-xs hidden-sm">
        @if (Model.Any())
        {
            <div style="margin: 20px 0; float: left !important;">
                @((Model.PageIndex * Model.PageSize) + 1)-@((Model.PageIndex * Model.PageSize) + Model.Count())/@Model.TotalItemCount
            </div>
        }

        &nbsp;
        @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount, new AjaxOptions {UpdateTargetId = "galleryListContainer" }).Options(o => o
            .Action("GalleryList")
            .DisplayTemplate("BootstrapPagination")
            .MaxNrOfPages(6)
            .AlwaysAddFirstPageNumber()
            .RouteValues(new {languageId=@ViewBag.LanguageId })

            )
    </div>
</div>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>#</th>
        <th>Adı</th>
        <th style="width:50px">Düzenle</th>
        <th style="width:50px">Sil</th>
    </tr>
    </thead>
    <tbody id="galleryList">
    @Html.DisplayFor(m => m)


    </tbody>
    
</table>
<div class="pull-left">


    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount, new AjaxOptions { UpdateTargetId = "galleryListContainer" }).Options(o => o
        .Action("OrderList")
        .DisplayTemplate("BootstrapPagination")
        .MaxNrOfPages(6)
        .AlwaysAddFirstPageNumber()
        )
</div>
@if (Model.Any())
{
    <div style="margin: 20px 0; float: left !important;">
        @((Model.PageIndex * Model.PageSize) + 1)-@((Model.PageIndex * Model.PageSize) + Model.Count())/@Model.TotalItemCount
    </div>
}

