
@model ServiceWebsite.ViewModels.Admin.BlogListViewModel
<tr id="@("blog_"+Model.Id)" class="master-row">
    <td>
        <img src="@Url.Content(String.Format(SystemConstants.BlogImageThumbPath) + "/" + Model.MainImage)" />
    </td>
    <td>@Model.Name</td>
    <td>
        @Model.CategoryName
    </td>
    <td style="width:50px">
        <a data-modal-form="true"
           data-modal-size="modal-lg"
           data-modal-update="#blog_@Model.Id"
           data-modal-highlight="#blog_@Model.Id"
           data-modal-title="Blog Düzenle"
           data-hook-beforeunload="true"
           class="btn btn-block btn-success btn-sm"
           href="@Url.Action("Edit", "BlogSetting", routeValues: new {Area = "Admin",blogId=Model.Id})">
            <i class="fa fa-edit fa-fw text-success"></i> Blog Düzenle
        </a>
    
    </td>
    <td style="width:50px">
        <a href="javascript:void(0);"
           data-toggle="confirmation"
           title="Emin Misiniz"
           data-btn-ok-label="Evet"
           data-btn-cancel-label="Hayır"
           data-placement="top"
           data-blog-id="@Model.Id"
           data-on-confirm="deleteBlog"
           class="btn btn-block btn-danger btn-sm">
            <i class="fa fa-trash fa-fw text-danger"></i> Blog Sil
        </a>

    </td>
</tr>
